name: Linux Build&Deploy

on: [ push, workflow_dispatch ]

jobs:
  build-linux:
    uses: ./.github/workflows/CommonBuild.yml
    with:
      build-for:        linux
      build-for-flair:  Linux
      build-with:       gcc_64
      cmake-generator:  "Unix Makefiles"
      runner-os:        ubuntu-latest
