name: Windows Build&Deploy

on: [ push, workflow_dispatch ]

jobs:
  build-windows:
    uses: ./.github/workflows/CommonBuild.yml
    with:
      build-for:        windows
      build-for-flair:  Windows
      build-with:       win64_msvc2019_64
      cmake-generator:  Visual Studio 17 2022
      runner-os:        windows-latest
